<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <style>
            div{
                background-image: url(/static/contactBackground.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                color: white;
                font-weight: bold;
            }
        </style>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><br><br>
            <center>
                <font size="15px">
                    Contact Us
                </font>
                <br><br><br> <font size="5px">Have a question? Need help? If you can't find what you're looking for,<br> we'd be happy to point you in the right direction. Please fill free to send us an email<br> or even call us at: 1234567890<br><br><br><br><br><br><br>
                </font>
            </center>
        </div>
        <br><br>
        <table>
                <tr><td>
                        <font size='5px'>Contact Information&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><br>
                        <br>General inquiries:<br>
                        <font color='dodgerblue'>avinavekariya6@gmail.com</font>
                        <br><br>
                        Technical Support:<br>
                        <font color='dodgerblue'>avinavekariya@gmail.com</font>
                        <br><br>
                </td>
                <td>
                        <font size='5px'>For further Queries</font><br>
                        <br>you can comment for particular<br>
                        subject and mention your Email Id there..
                        <br>and we wil contact you soon
                        <br><br>
                </td>
                </tr>
        </table>
    </body>
</html>
